<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar>
    <ion-title>Masuk</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"
      [class.invalid]="!loginForm.controls.email.valid">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid">
      <p>Tolong masukkan alamat email yang sah.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Kata Sandi</ion-label>
      <ion-input formControlName="password" type="password"
      [class.invalid]="!loginForm.controls.password.valid">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid">
      <p>Kata sandi harus memiliki enam karakter atau lebih.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Masuk
    </button>
  </form>

  <button ion-button block clear (click)="goToSignup()">
    Daftar
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    Lupa kata sandi :(
  </button>
</ion-content>